[submodule "official_entry"]
	path = official_entry
	url = https://github.com/CPSC-Committee/cpsc2021-python-entry.git
	# https://stackoverflow.com/questions/60009274/git-error-after-changing-submodules-url-fatal-needed-a-single-revision
	branch = main
[submodule "torch_ecg"]
	path = torch_ecg
	url = https://github.com/DeepPSP/torch_ecg.git
	branch = master
